@model IEnumerable<Community>

@{
    ViewBag.Title = "All Communities";
}

<h2>All Available Communities</h2>

<!-- Create Community Button -->
<div class="mb-3">
    <a href="@Url.Action("Create", "Community")" class="btn btn-primary">Create New Community</a>
</div>

<div class="row">
    @foreach (var community in Model)
    {
        <div class="col-md-4 mb-3">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">@community.Name</h5>
                    <a href="@Url.Action("Details", new { id = community.Id })" class="btn btn-primary">View</a>
                    <a href="@Url.Action("Join", new { id = community.Id })" class="btn btn-success">Join</a>
                </div>
            </div>
        </div>
    }
    }
